lz4==4.4.4                      # required for rosbags
numpy==2.2.6                    # required for rosbags
ruamel.yaml==0.18.14            # required for rosbags
ruamel.yaml.clib==0.2.12        # required for rosbags
typing_extensions==4.14.0       # required for rosbags
zstandard==0.23.0               # required for rosbags
rosbags==0.10.10
pillow==12.2.0
